BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321
DB_URL=sqlite+aiosqlite:///./database.db

# Bot egasining to'liq ismi (F.I.SH)
OWNER_NAME=Familiya Ism Sharif

# Bankdagi hisob raqam (shartnomada ko'rsatiladi)
BANK_ACCOUNT=12345678901234567890
